# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [1]:
## COLLECTIONS - data types in python/objects that can store diff objects inside it
## LIST - iterable collections/ordered(elements inside has dpecific index)/changeable

### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [2]:
### Single Access
employees[1]
## index: [0,1,2,3,4,5]
## [1]--Alex 
## in indexing list in python: (negative integer)
    ## [-1]--starting from last element of list
    ## [-2]--second to the last item in the list

'Alex'

In [3]:
### Multiple Access (subset of list)
## splicing of list to get subset
employees[0:3:1] ## : -- colon; a range
## example:
    ## employees[0:2]               ## 0--default
    ## OUTPUT: from 'Jhon' until b4 'Winston'
                ## ['Jhon', 'Alex']
## [starting point of the index(san maguumpisa) : index position : steps in accessing the list/increment(optional)]
## example:
    ## employees[0:3:2]              ## 2--2nd in index position is skipped
    ##OUTPUT: ['John', 'Winston']

['John', 'Alex', 'Winston']

In [5]:
## WAY NO.1
### Multiple Access via Loops
## FOR PRINTING VALUE OF EACH EMPLOYEE PER LINE
## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
for employee in employees: 
    print("ANYONGSAYOWH WAZZUP!!",employee)

ANYONGSAYOWH WAZZUP!! John
ANYONGSAYOWH WAZZUP!! Alex
ANYONGSAYOWH WAZZUP!! Winston
ANYONGSAYOWH WAZZUP!! Bob
ANYONGSAYOWH WAZZUP!! Golbi

In [6]:
## WAY NO.2
### Multiple Access via Loops
## You could also use indices for iterations.
for i in range(len(employees)):  ## RANGE IS 0-4
    if(i%2 == 0): ##EMPLOYEE IN EVEN NUMBER
        print(employees[i])

John
Winston
Golbi

In [8]:
### Modifying Elements
## TO MODIFY: ACCESS THE ELEMENT
employees[3] = 'John'         ## exchanging 'Bob' to 'Jhon'/ overwriting; 'Bob' - 4th index
employees[-1] = 'Jimmy'       ## changing 'Golbi' to 'Jimmy'
print(employees)

['John', 'Alex', 'Winston', 'John', 'Jimmy']

In [9]:
### Adding Elements
#employees.append("Dorothy") ## adding 'Dorothy' at the end of the list
#print(employees) 
employees.insert(2, "Ozai") ## .insert(index position san lalagay, 'ano bet idagdag')
print(employees)

['John', 'Alex', 'Winston', 'John', 'Jimmy', 'Dorothy']

In [ ]:
### Removing Elements
employees.pop() ## .pop()--remove last employee
employees.remove("Ozai") ## .remove--removing employees specifically
del employees[-1] ## del -- deletes employee at specified index position
employees.clear() ## .clear() -- deletes everything in the list

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [10]:
### Declaration
## tuples is in () ; list is in []
            ## (x value, y coordinate, chanells(how many rgb))
pixel1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 

pixel2_colors = (64, 128, 111)

In [12]:
### Single Access
red = pixel1_colors[0]
red ##OUTPUT: VALUE OF RED = 255

255

In [ ]:
## MODIFYING PIXEL COLORS
pixel1_colors[2] = 128 ## changing blue to 128
## OUTPUT; ERROR--Tuples san't be modified

In [14]:
### Multiple Access
## can use same technique from list
pixel2_colors[0:2:1] ## will orint r and g colors

(64, 128)

In [16]:
### Multiple Access via Loops
## acessing all colors in the tuple

for color in pixel2_colors: ## can use range as well
    print(color)

64
128
111

In [21]:
## accessing two tuples at the same time given the same len
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [19]:
for px_colors in zip(pixel1_colors, pixel2_colors):
    print(px_colors)

(255, 64)
(0, 128)
(0, 111)

In [ ]:
### Modifying Elements
car_xpos[0] = 0
## WALERS OUTPUT KASE NGA DI PEDE BAGUHIN

In [ ]:
### Removing Elements
del pixel1_colors[0]
## WALERS DEN OUTPUT

In [22]:
### Merging Tuples
car_pos = car_xpos + car_ypos ## combining car position
car_pos

(3, 5, 12, 15, 0, 1, 5, 2)

### Sets

Sets are collections which are unordered and unindexed (u can't access any elements in da set using indices). Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [27]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [28]:
print(bakery_C)

{'bread'}

In [ ]:
### Accessing Elements
bakery_A[0]
## OUTPUT: ERROR; KENNAT ACCESS USING INDEX

In [24]:
### Multiple Access via Loops
## CAN ONLY ACCESS USING LOOP
for product in bakery_A:
    print(product)

parfait
cracker
eclair
bread
cannele
coffee
tea
croissant

In [32]:
### Removing an Element
#bakery_A.remove('cannele')
bakery_A.remove('parfait')
print(bakery_A)

{'cracker', 'eclair', 'bread', 'coffee', 'tea', 'croissant'}

In [35]:
### Membership
'coffee' in bakery_A     ## checking if 'coffee' is in the bakery_A
# print('coffee' in bakery_A) ## OUTPUT: True
# print('cannele' in bakery_A) ## OUTPUT: False -- niremove na kanina

### Subsets
order = {'coffee', 'eclair'}  ##check if set of order exist in bakery_A
order.issubset(bakery_A)   ## .isubset -- to test kung subset nga ba
## OUTPUT: False

True

In [36]:
### Union -- union of set
baker_st = bakery_A.union(bakery_B)
baker_st
## though same set has 'bread', sets read it as one element

{'bread',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'tea'}

In [37]:
### Intersection -- common things in both bakery
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [39]:
### Difference -- unique element from bakery A and bakery B
bakery_A.difference(bakery_B)

{'cracker', 'eclair'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [40]:
### Declaration
## keys -- 'products' ; values -- price
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [43]:
## Accessing
## accessing the 'keys' to get the values
bakery_A_prices['bread']

60

In [44]:
## Accessing via Loops
## printing all of the 'key'
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [45]:
## printing all values of the 'key'
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [46]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [47]:
## printing both product and price
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [49]:
## Update / Modification
bakery_A_prices['bread'] *= 0.8    ## *= -- for modifying
print(bakery_A_prices['bread'])

43.2

In [50]:
## Adding Elements
print(bakery_A_prices)
bakery_A_prices['coffee'] = 110
print(bakery_A_prices)

{'bread': 43.2, 'cracker': 15, 'croissant': 40}
{'bread': 43.2, 'cracker': 15, 'croissant': 40, 'coffee': 110}

In [51]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker')) ## removing 'cracker' to dictionary
print(bakery_A_prices)

{'bread': 43.2, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 43.2, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to pracitce some practical dataset operations.

In [52]:
prime = [2,3,5,7,11,13,15,17,19,23]
odd = [1,3,5,7,9,11,13,15,17,19,21, 23]

### Intersection / Similarities

In [53]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19
23

In [54]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect

In [3]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23]

### Subtraction / Uniqueness

In [55]:
for num in prime:
    if num not in odd:
        print(num)

2

In [56]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [57]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

### Union / Merge

In [58]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1, 2, 3, 3, 5, 5, 7, 7, 9, 11, 11, 13, 13, 15, 15, 17, 17, 19, 19, 21, 23, 23]

In [59]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [60]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [61]:
def union(list1, list2, repetition=False):
    if repetition:
        pass
    else:
        pass
    return None

In [62]:
prime_u_odd = union(prime, odd)

## Activities

#### Create your own collection variables with their contents using the sets in your Fandom Assignment then perform different join methods using your variables

### ACTIVITY 1 (5 points)

In [6]:
## BTS ALBUM'S
love_yourself_tear = ['Singularity', 'Fake Love', 'The Truth Untold', '134340', 'Paradise', 'Love Maze',
                     'Magic Shop', 'Airplane pt.2', 'Anpanman', 'So What', 'Tear']
love_yourself_answer = ['Euphoria', 'Trivia: Just Dance', 'Serendipity', 'DNA', 'Trivia: Love', 'Her', 
                       'Singularity', 'Fake Love', 'The Truth Untold', 'Trivia: Seesaw', 'Tear', 'Epiphany',
                       'Im Fine', 'Idol', 'Love Myself', 'Magic Shop', 'Best of Me', 'Airplane pt.2',
                       'Go Go', 'Anpanman', 'Mic Drop']

In [7]:
tear = set(love_yourself_tear)
answer = set(love_yourself_answer)

##### INNER JOIN

In [10]:
same_tracks = tear.intersection(answer)
same_tracks

{'Airplane pt.2',
 'Anpanman',
 'Fake Love',
 'Magic Shop',
 'Singularity',
 'Tear',
 'The Truth Untold'}

##### LEFT JOIN

In [11]:
ly_tear_track_list = same_tracks.union(tear)
ly_tear_track_list

{'134340',
 'Airplane pt.2',
 'Anpanman',
 'Fake Love',
 'Love Maze',
 'Magic Shop',
 'Paradise',
 'Singularity',
 'So What',
 'Tear',
 'The Truth Untold'}

##### RIGHT JOIN

In [12]:
ly_answer_track_list = same_tracks.union(answer)
ly_answer_track_list

{'Airplane pt.2',
 'Anpanman',
 'Best of Me',
 'DNA',
 'Epiphany',
 'Euphoria',
 'Fake Love',
 'Go Go',
 'Her',
 'Idol',
 'Im Fine',
 'Love Myself',
 'Magic Shop',
 'Mic Drop',
 'Serendipity',
 'Singularity',
 'Tear',
 'The Truth Untold',
 'Trivia: Just Dance',
 'Trivia: Love',
 'Trivia: Seesaw'}

##### LEFT EXCLUSIVE JOIN

In [14]:
ly_tear_og = tear.difference(answer)
ly_tear_og

{'134340', 'Love Maze', 'Paradise', 'So What'}

##### RIGHT EXCLUSIVE JOIN

In [15]:
ly_answer_og = answer.difference(tear)
ly_answer_og

{'Best of Me',
 'DNA',
 'Epiphany',
 'Euphoria',
 'Go Go',
 'Her',
 'Idol',
 'Im Fine',
 'Love Myself',
 'Mic Drop',
 'Serendipity',
 'Trivia: Just Dance',
 'Trivia: Love',
 'Trivia: Seesaw'}

##### FULL OUTER JOIN

In [16]:
ly_series_track_list = tear.union(answer)
ly_series_track_list

{'134340',
 'Airplane pt.2',
 'Anpanman',
 'Best of Me',
 'DNA',
 'Epiphany',
 'Euphoria',
 'Fake Love',
 'Go Go',
 'Her',
 'Idol',
 'Im Fine',
 'Love Maze',
 'Love Myself',
 'Magic Shop',
 'Mic Drop',
 'Paradise',
 'Serendipity',
 'Singularity',
 'So What',
 'Tear',
 'The Truth Untold',
 'Trivia: Just Dance',
 'Trivia: Love',
 'Trivia: Seesaw'}

##### FULL OUTER EXCLUSIVE JOIN

In [17]:
ly_series_og_tracks = (tear.difference(answer)).union(answer.difference(tear))
ly_series_og_tracks

{'134340',
 'Best of Me',
 'DNA',
 'Epiphany',
 'Euphoria',
 'Go Go',
 'Her',
 'Idol',
 'Im Fine',
 'Love Maze',
 'Love Myself',
 'Mic Drop',
 'Paradise',
 'Serendipity',
 'So What',
 'Trivia: Just Dance',
 'Trivia: Love',
 'Trivia: Seesaw'}